{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>New Products</h1>
<div class="posts">
										{% for product in products %}
										<article>
											<a href="#" class="image"><img src="{{ products.get_image }}" style="width:200px; height:200px;" alt="" /></a>
											<h3>{{ product }}</h3>
											<p>{{ product.description|truncatewords:10 }}</p>
											<ul class="actions">
												<li><a href="{% url 'detail' product.id %}" class="button">More</a></li>
											</ul>
										</article>>
										{% endfor %}
									</div>

{% endblock content %}